body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: #8dcbe2;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.map{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.map_image{
    width: 59%;
    vertical-align: middle;
}

.map_image path {
    fill: #71bd63;
    stroke: white;
    stroke-width: 3px;
    transition: fill 0.3s;
}

#region-B path, #region-M path, #region-H path, #region-E path, #region-A path{
    fill: #d8d8d8;
}

.map_image > svg > #fr_map > a > path:hover:not(.cls-2) {
    fill: rgba(30, 144, 255, 0.73);
}

.map_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 39%;
    margin: 0 auto;
}

.map_list > ul, .map_list > ul > li > a {
    list-style: none;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.map_list > ul > li > a {
    padding: 15px;
    margin: 15px;
    width: 100%;
}

.map_list > ul > li{
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #81bad0;
}

.map_list > ul > li:hover {
    background-color: dodgerblue;
}

.map_list > ul > li.is-active {
    background-color: dodgerblue;
}

.map_image .is-active path {
    background-color: dodgerblue;
    fill: rgba(30, 144, 255, 0.73);
}

#road path {
    fill: transparent;
    pointer-events: none;
}